@charset "UTF-8";
#goal-text {
  background-color: #BADA55;
  height: 250px;
  opacity: 0.9;
}

#social-buttons-and-copyright {
  background-color: #BADA55;
  height: 250px;
  opacity: 0.9;
}

#btn-fb:hover {
  transition: 0.3s;
  transform: translateY(-10px);
}

#btn-pin:hover {
  transition: 0.3s;
  transform: translateY(-10px);
}

#btn-link:hover {
  transition: 0.3s;
  transform: translateY(-10px);
}

#btn-insta:hover {
  transition: 0.3s;
  transform: translateY(-10px);
}

ul li.nav-item:hover {
  transition: 0.3s;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}
ul li.nav-item a:hover {
  color: #accfe2;
}

#goal-script {
  font-family: "Sacramento", cursive;
  font-size: 46px;
  margin: 20px 10px;
}

#sub-goal-text {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin: 10px;
}

#original-hand-painted-text {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  word-wrap: normal;
}

#AA-title {
  font-family: "Questrial", sans-serif;
  font-size: 50px;
}

#navbar-AA {
  font-family: "Poppins", sans-serif;
}

.navbar-custom {
  background-color: white;
}

#page-links-home {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#page-links-home a {
  position: relative;
  width: 250px;
  height: 75px;
  margin: 10px 10px;
  font-size: 18px;
  color: #000;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.5s;
  text-transform: uppercase;
  font-weight: 900;
}
#page-links-home a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: url("../images/—Pngtree—brush light blue brush stroke_7253030.png");
  background-size: cover;
  transform-orgin: left;
  transition: 0.8s;
}
#page-links-home a:hover {
  color: #000;
}
#page-links-home a:hover:before {
  width: 100%;
  color: #fff;
}
#page-links-home a span {
  position: relative;
  z-index: 1;
  font-family: "Poppins", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e2a191;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

a:link, a:visited, a:hover, a:active {
    color: #000000;
    text-decoration: none;
}

header {
    text-align: center;
}

#about-us-box {
    background-color: #ccc7d6;
}

#about-us-title {
    font-family: "Sacramento", cursive;
    font-size: 50px;
}

#about-us-text {
    font-family: "Poppins", sans-serif;
    font-size: 22px;
}

#about-long-text {
    font-family: "Poppins", sans-serif;
    font-size: 22px;
}

.row{
    margin: 10px;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

.grid-wrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-wrapper > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.grid-wrapper > div > img:hover {
    transform: scale(1.15);
}

.grid-wrapper {
    margin: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}
.grid-wrapper .wide {
    grid-column: span 2;
}
.grid-wrapper .tall {
    grid-row: span 2;
}
.grid-wrapper .big {
    grid-column: span 2;
    grid-row: span 2;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/*# sourceMappingURL=custom.css.map */
