#goal-text {
    background-color: #BADA55;
    margin: 20px 207px;
    height: 250px;
}

#goal-script {
    font-family: 'Sacramento', cursive;
    font-size: 46px;
}

#sub-goal-text {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin: 10px;
}

#original-hand-painted-text {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    word-wrap: normal;
}

#AA-title {
    font-family: 'Questrial', sans-serif;
    font-size: 50px;
}

#navbar-AA {
    font-family: 'Poppins', sans-serif;
}

#page-links-home{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#page-links-home a{
    position: relative;
    width: 250px;
    height: 75px;
    margin: 10px 10px;
    font-size: 18px;
    color: #000;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.5s;
    text-transform: uppercase;
    font-weight: 900;
}


#page-links-home a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: url("../images/—Pngtree—brush light blue brush stroke_7253030.png");
    background-size: cover;
    transform-orgin: left;
    transition: 0.8s;
}

#page-links-home a:hover:before{
    width: 100%;
    color: #fff;
}


#page-links-home a:hover{
    color: #000;
}

#page-links-home a span{
    position: relative;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
}



